{% extends "blog/base.html" %} {% block main %}
<h1>Contact Us</h1>
<div class="content-section">
  <div class="list-group" style="margin-bottom:2rem;">
    <a
      href="#"
      class="list-group-item list-group-item-action active"
      aria-current="true">
      Our Team
    </a>
    <a href="#" class="list-group-item list-group-item-action"
      >Kartikey Shahi</a
    >
    <a href="#" class="list-group-item list-group-item-action"
      >Rohit Singh Tanwar</a
    >
    <a href="#" class="list-group-item list-group-item-action"
      >Dhruv Singh Rawat</a
    >
    <a href="#" class="list-group-item list-group-item-action">Vedansh yadav</a>
    <a href="#" class="list-group-item list-group-item-action">Gaurav Yadav</a>
  </div>
  <div class="card">
    <div class="card-body">
        <a href="https://github.com/Kemphire/college_django_proj/tree/not_final" target="blank">Go to our source code!</a>
    </div>
  </div>
</div>
{% endblock main %}
