{% extends "blog/base.html" %}
{% block main %}
    {% for i in posts %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ i.author.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ i.author }}</a>
            <small class="text-muted">{{ i.date_posted | date:"d / F / Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'post-detail' i.id %}">{{ i.title }}</a></h2>
          <p class="article-content">{{i.contents}}</p>
        </div>
      </article>
    {% endfor %}
{% endblock main %}
